<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogsystemdemo2.mapper.DiscussMapper">

    <insert id="insertDiscuss">
        insert into discuss values (null,#{blogId},#{userId},#{username},#{postTime},#{content});
    </insert>

    <delete id="deleteDiscuss">
        delete from discuss where discussId = #{discussId}
    </delete>

    <select id="findAllDiscuss" resultType="com.example.blogsystemdemo2.model.Discuss">
        select * from discuss where blogId = #{blogId} order by postTime desc;
    </select>

    <select id="findDiscussById" resultType="com.example.blogsystemdemo2.model.Discuss">
        select * from discuss where  discussId = #{discussId};
    </select>
</mapper>