<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_blog_management.mapper.ProblemMapper">
    <insert id="insertProblem">
        insert into oj_table values(null, #{title}, #{level}, #{description}, #{templateCode}, #{testCode});
    </insert>

    <select id="getProblemDesc" resultType="com.example.demo_blog_management.model.Problem">
        select id,title,level from oj_table;
    </select>

    <delete id="deleteProblem">
        delete from oj_table where id = #{id};
    </delete>

    <update id="updateProblem">
        update oj_table
        set title = #{title}, level = #{level}, description=#{description},templateCode=#{templateCode},testCode=#{testCode}
        where id = #{id};
    </update>

    <select id="getProblem" resultType="com.example.demo_blog_management.model.Problem">
        select * from oj_table where id = #{id};
    </select>

</mapper>